<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>DeviceWaker</servlet-name>
		<servlet-class>net.vleu.par.gateway.DeviceWakerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeviceWaker</servlet-name>
		<url-pattern>/_ah/queue/deviceWakerQueue</url-pattern>
	</servlet-mapping>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>TasksQueues</web-resource-name>
			<url-pattern>/_ah/queue/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>

	<servlet>
		<servlet-name>Api0</servlet-name>
		<servlet-class>net.vleu.par.gateway.ApiServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Api0</servlet-name>
		<url-pattern>/api/0/json</url-pattern>
		<url-pattern>/api/0/pb</url-pattern>
	</servlet-mapping>

	<static-files>
		<include path="ui/**" />
		<!-- The following line requires App Engine 1.3.2 SDK -->
		<include path="**.nocache.*" expiration="0s" />
		<include path="**.cache.*" expiration="365d" />
		<exclude path="**.gwt.rpc" />
		<mime-mapping>
		    <extension>manifest</extension>
		    <mime-type>text/cache-manifest</mime-type>
		</mime-mapping>
	</static-files>
    <security-constraint>
        <web-resource-collection>
            <url-pattern>/ui/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
    </security-constraint>
</web-app>
